{% extends 'base.html' %}
{% load static %}

{%block title%} {{gls.district}} {{gls.name}} {{gls.type}} {%endblock title%}

{%block Main %}
<div class="container">

    <div class="row arrow">
<div class="col-md-1"></div>
        <div class="col-md-10 col-sm-12">
            <a href="{%url 'gallery' %}" class="homes"> <i class="fas fa-arrow-left mb-2"> Back to Gallery</i></a>

    <h3 class="mt-3">Photo Gallery </h3>
        <br>
            <address>
                <img src="{{gls.file.url}}" class="img-fluid img-thumbnail" alt="loading image">

            <div class="row">
              <h3 class="text-right">{{gls.district}} -- {{gls.name}} {{gls.type}}


<div class="fb-like" data-href="http://127.0.0.1:8000/gallery_page/" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>

              </h3>

 </div>
            </address>

        </div>

<div class="col-md-1"></div>

        </div>
<br>
<h3>Other Gallery Image Show...</h3>
<div class="row text-center">
        {%for gls in gl %}
        <div class="col-xl-3 col-md-3 col-sm-6 col-12 mt-1 tem">
         <a href="{% url 'galleryview' gls.id %}">
            <img src="{{gls.file.url}}" class="img-thumbnail" alt="loading image">
         </a><p>{{gls.name}} {{gls.type}} <br>
           ( {{gls.district}})</p>
        </div>

        {%endfor%}
        <br>
    </div>
<h3>Others Temples</h3>
    <div class="row">
         {% for all in all %}
        <div class="col-xl-3 col-md-4 col-sm-6 col-12 mt-1">
            <div class="card-deck cards">
              <div class="card">
  <a href="{% url 'templeview' all.id %}">
      <img class="card-img-top" src="{{all.file.url}}" alt="Card image cap">
  </a>
    <div class="card-body">
      <p class="card-title"><b>{{all.name}}    (  {{all.district}} )</b></p>
      <p class="card-text">{{all.dec |truncatewords:20}} <a href="{% url 'templeview' all.id %}">Read More</a> </p>
    </div>
              </div>
  </div>

        </div>

            {%endfor%}
        </div>


</div>
{%endblock%}